@font-face {
    font-family: 'Space Grotesk';
    src: url('SpaceGrotesk-Regular.woff2') format('woff2'),
    url('SpaceGrotesk-Regular.woff') format('woff');
}

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    color: #A9E8DC;
    opacity: 0.9;
    font-size: 16px;

    background: #036494; /* Old browsers */
    background: -moz-linear-gradient(45deg, #036494 0%, #02547d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #036494 0%,#02547d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #036494 0%,#02547d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#036494', endColorstr='#02547d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a {
    color: #E1F7E7;
}

.wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 2rem;
}

.name, .links {
    margin: 0;
}

.name {
    font-size: 2.8rem;
}

.tldr, .current {
    margin: 1.1rem 0;
    padding-left: 1rem;
}

.tldr li, .current li {
    padding: 0.15rem 0;
}
